*body{
  margin: 0px;
  padding: 0px;
}
@import 
url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama?styles=170364,627');

/* shared styles */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .miami-font{
    font-family: 'Miama', sans-serif;
    font-style: italic;
    font-weight: 400;
  }

  body{
    max-width: 1440px;
    margin: 0 auto;
    background-color: black;
    color: white;
    font-family: "inter";
    margin: 0 190px;
  }

  .title-font{
    font-family: "inter";
    font-size: 3rem;
    font-weight: 900;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 10px;
  }
  .title-description-font{
    font-family: "inter";
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF80;
    text-align: center;
    padding: 0px 140px;
  }
  section{
    margin: 80px 0;
  }

  .primary-color{
    color: #E6533C;
  }

  .primary-btn{
    text-decoration: none;
    width: 140px;
    padding: 12px 24px;
    background-color: #E6533C;
    border-radius: 42px;
    color: #FFFFFF;
    text-align: center;
  }
  
  /* navbar styles */
  #logo{
    color: #E6533C;
    font-style: italic;
    font-weight: 800;
    font-size: 2rem;
  }
  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  nav > ul{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #FFFFFF1A;
    padding: 4px;
    border-radius: 39px;
  }
  nav > ul > li{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 92px;   
    height: 24px;
    border-radius: 46px;
  }
  nav > ul > li > a{
    text-decoration: none;
    color: white;
  }
  nav > ul > li:first-child{       /* Home menu style */
    background-color: #E6533C;
    width: 32px;
    height: 24px;
    padding: 8px 20px;
    border-radius: 46px;
  }

  .banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .banner-left{
    margin-right: 100px;
  }
  .banner-left > h1{
    font-size: 4rem;
    line-height: 75px;
  }
  .banner > .banner-left > p{
    margin-bottom: 50px;
  }
  .banner-description{
    font-family: "inter";
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF80;
  }

  .shape{
    font-family: 'Miama';
    font-style: italic;
    font-weight: 400;
    font-size: 8rem;
  }
  
  .banner-right{
    background-image: url(./images/Images_2.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 570px;
  }
  .button{
    display: flex;
    gap: 14px;
  }

  .social-card{
    display: flex;
    justify-content: space-between;
  }
  .social-card1{
    position: relative;
    transform: translateY(420px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3030308A;
    width: 206px;
    height: 96px;
    border: 1px;
    border-radius: 12px;
  }
  .social-text >p{
    margin-top: -10px;
  }
  .play-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #E6533C;
    margin-right: 20px;
  }
  .play-btn i{
    font-size: 20px;
  }
  .social-card2{
    transform: translateY(130px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3030308A;
    width: 206px;
    height: 96px;
    border: 1px;
    border-radius: 12px;
  }
 


 
/* image your habits section styles */
.habits{
  display: flex;
  justify-content: space-between; 
}
.habits-card{
  align-items: center;
  width: 180px;
  text-align: center;
}
.habits-card > img{
  width: 100%;
  border: 2px solid #FFFFFF1A;
  border-radius: 50%;
}
.habits-card > h3{
  font-family: 'inter';
  font-size: 14px;
}
.habits-card > p{
  font-family: 'inter';
  font-size: 12px;
}




/* small device responsive */
@media screen and (max-width:576px) {
  body{
    margin: 0 20px;
  }
  #logo{
    width: 400px;
  }
  .button{
    justify-content: center;
  }
  nav{
    display: none;
  }
  .banner{
    display: block;
  }
  .banner-left {
    margin-right: 0px;
}
}


/* medium device responsive */
@media screen and (min-width:576) and (max-width:992px) {
  body{
    margin: 0 40px;
  }
  .mobile-menu{
    display: none;
  }
}

/* large device responsive */
@media screen and (min-width:992px) {
  .mobile-menu{
    display: none;
  }
}